<div class="toggler">
  <div class="toggle open">
    <a href="#">[-]</a>
  </div>
  <ul
    class="comment-children"
    style="block">
    <slot />
  </ul>
</div>
<script>
  import '../scripts/Toggle';
</script>